html{
        padding-top: 0;
        margin: 0;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    body {
        padding: 0;
        margin: 0;        
    }
    
    header {
        background: url(image/ヘッダーデザイン.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        margin: 0;
        position: relative;
    }
    
    header  .flex h1{
        position: relative;
        font-size: 4.5rem;
        color: #fff;
        margin-left: 3.5rem;
        margin-right: 0;
        margin-top: 0;
        top: 1.3rem;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;    
    }
    header .nav-links {
        position: fixed;
        right: 20px;
        top: 30px;
        padding: 20px;
        margin-top: 0;
        z-index: 2;
    }    
    header .nav {
        text-decoration: none;
        color: #ece9e9;
        font-weight: bold;
        margin-right: 5.5vw;
        font-size: 1.5rem;
        font-family: "Hina Mincho", serif;
    }
    header .intro{
        position: absolute;
        display: block;
        top: 30%;
        left: 50%;
        max-width: 100%;
        margin: 20px auto auto auto;
        padding: 10px;
        margin-right: 2rem;
    }
    header .intro h1 {
        font-size: 3.6rem;
        color: #8e8e8e;
        text-align: left;
        font-family: "Hina Mincho", serif;
        margin: 0 auto;
        font-weight: 400;
        font-style: normal;
    }
    header .intro p {
        font-size: 2rem;
        color: #d3d3d3;
        text-align: left;
        margin-bottom: 1rem;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
    }

    header .flex .nav-links a:hover {
        color: #717273;
        text-decoration: underline;
        transition: all 0.3s ease;
    }

    header .intro h1:hover {
        transition: all 0.3s ease-in-out;
        color: #717273;
    }

    /*学習項目セクション*/
    main section.content h1{
        text-align: left;
        font-size: 3rem;
        color: #fff;
        padding-top: 30px;
        margin: 0;
        margin-left: 80px;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
    }
    main section#studying{
        background: url(image/メイン画像.jpg);
        background-size: cover;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        width: 100vw;
        height: 100vh;
        position: relative;
        width: 100%;
    }
    

    main section#studying p {
        text-align: left;
        font-size: 2.0rem;
        color: #ece9e9;
        padding-left: 80px;
        padding-right: 80px;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
    }


    main section#studying .grid {
        display: flex;
        overflow-x: auto;
        gap: 30px;
        padding: 20px 0 20px 10vw;
        width: 100vw;
        box-sizing: border-box;
    
    }
    main section#studying .grid .subject {
        min-width: 250px;
        max-width: 300px;
        flex: 0 0 auto;
        background: #ece9e9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        padding: 60px 10px;
        font-size: 2rem;
        text-align: center;
        
    }

    main section#news {
        background: url(image/ヘッダーデザイン.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    main section#news #news-table{
        border: 1px solid #ece9e9;
        width: 80vw;
        margin: 100px auto 0 auto;
        color: #e4dfdf;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
        
    }
    main section#news #news-table th {
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: #ece9e9;
    }
    main section#news #news-table td {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        color: #ece9e9;
    }

    main section#news p {
        text-align: left;
        font-size: 2.0rem;
        color: #ece9e9;
        padding-left: 80px;
        padding-right: 80px;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
    }

        main section#news {
        background: url(image/ヘッダーデザイン.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    main section#profile {
        background: url(image/ヘッダーデザイン.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100vw;
        height: 100vh;
    }



    main section#profile p {
        text-align: left;
        font-size: 2.0rem;
        color: #ece9e9;
        padding-left: 80px;
        padding-right: 80px;
        font-family: "Hina Mincho", serif;
        font-weight: 400;
        font-style: normal;
    }


    @media(max-width: 800px) {
        header .flex {
            flex-direction: column;
            align-items: center;
        }
        header .flex h1 {
            text-align: center;
            font-size: 2.5rem;
            margin-left: 0;
            margin-right: 0;
        }
        header .flex .nav-links {
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            right: 0;
            width: 100vw;
        }
        header .flex .nav-links .nav {
            justify-content: center;
            font-size: 1rem;
        }
        header .intro {
            left: auto;
            right: auto;
            margin-left: 10px;
            margin-right: 12px;
            font-size: 1.5rem;
        }
        header .intro h1 {
            text-align: center;
            font-size: 2rem;
        }
        header .intro p {
            margin-left: 0;
            margin-right: 0;
            font-size: 1.5rem;
        }
        

        main section.content h1{
            text-align: center;
            font-size: 2.5rem;
            margin-left: 0;
        }
        main section.content p {
            margin-left: 0;
            margin-right: 0;
            font-size: 1.5rem;
        }
        main section#studying p {
            text-align: center;
            font-size: 1.5rem;
            padding-left: 20px;
            padding-right: 20px;
        }
        main section#studying .grid {
            padding: 20px 0 20px 5vw;
        }
    }

    @media(max-width: 400px) {
        header {
            padding-top: 50px;
        }
       header .flex {
            flex-direction: column;
        }
        header div h1 {
            font-size: 2.5rem;
            margin-left: 0;
            margin-right: 0;
        }
        header .flex  div{
            display: flex;
            margin: 0 auto;
            width: 100%;
            justify-content: center;
        }
        header .flex  div .nav {
            justify-content: center;
            font-size: 0.7rem;
        }
        header .intro  {
            left: auto;
            right: auto;
            margin-left: auto;
            margin-right: auto;
        }
        header .intro h1 {
            padding-top: 50px;
            text-align: center;
            font-size: 1rem;
        }
        header .intro p {
            text-align: left;
            font-size: 1rem;
        }
    }
